<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SoundPackName</key>
	<string>Default One</string>
	<key>SoundPack</key>
	<array>
		<string>bass 1</string>
		<string>bass 2</string>
		<string>snare 1</string>
		<string>shake 1</string>
		<string>rip 1</string>
		<string>kick1</string>
	</array>
</dict>
</plist>
