<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SoundPacks</key>
	<array>
		<string></string>
	</array>
	<key>Sound Pack 2</key>
	<array>
		<string>shake 1</string>
	</array>
	<key>Sound Pack 1</key>
	<array>
		<string>bass 1</string>
		<string>bass 2</string>
		<string>kick1</string>
	</array>
</dict>
</plist>
