<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SoundPackName</key>
	<string>SOUNDPACK II</string>
	<key>SoundPack</key>
	<array>
		<string>pad 2</string>
		<string>pad 3</string>
		<string>pad 4</string>
		<string>pad 1</string>
		<string>glass 1</string>
		<string>glass 2</string>
		<string>bucket 1</string>
		<string>glass 4</string>
		<string>glass 3</string>
		<string>kick 1</string>
		<string>toaster 1</string>
		<string>bucket 2</string>
	</array>
</dict>
</plist>
